<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="playerPage.css">
    <script src="playerPage.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Vanilla - PlayEngine</title>
</head>

<body style="
background: #ddd;
">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Vanilla : Play-Engine</a>
            </div>
            <div class="input-group" style="
                left: 13.5%;
                width: 50%;
                padding: 10px 15px;
            ">
                <input type="text" class="form-control" placeholder="Place the URL of your video here ...."
                    name="search" id="search">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" onClick="addVideoItem(search.value)">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="vid-container">
            <div id="vid_frame"></div>
        </div>
    </div>
    <div class="vid-list"></div>
</body>
</html>