<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>


        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
<div class="container">
 <br>
 <div class="jumbotron">
 <h1 class="display-4">Send Message</h1>
 <br>
 <input id = "name" class="form-control" placeholder="Name">
 <br>
 <textarea id = "message" class="form-control" placeholder="Your Message Here"></textarea>
 <br>
 <button id="send" class="btn btn-success" onclick="sendOnClick()">Send</button>
 </div>
 <div id="messages">
 
</div>
</div>
<script>
    const room = 'room1';
    var socket = io('/rooms');

    socket.on('connect', () => {
        socket.emit('join', {room : room});
    });


    socket.on("action", (data) => {
        document.getElementById("message").value = data.msg;
    });

    function sendOnClick(){
        var msg = document.getElementById("message").value;
        socket.emit('event', {msg, room});
        //$.post($.post("http://localhost:3001/actions", {"hello" : "world"}));
    }

</script>
</body>
</html>