<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/welcomePage.css">
</head>
<body>

<div class="bg-image"></div>


<div class="bg-text">
    <h3 class = "error"><%= err%></h3>
  <h2>Welcome To Vanilla-PlayEngine</h2>
  <input type="text" name="roomname" id="roomtext" >
  <button onclick="createNewRoom()">New Room</button>
  <button onclick="joinRoomIfExist()">Join Room</button>
</div>

<script>
function createNewRoom(){
  var roomname = document.getElementById('roomtext');
  
}

function joinRoomIfExist(){

}
</script>

</body>
</html>
